* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header,
main,
footer {
    padding: 20px;
}

section {
    text-align: center;
}

div {
    font-size: 24px;
}

.oauth {
    width: 50vw;
    max-width: 75vw;
    max-height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.oauth div{
    padding:2em;
}
.oauth-btn {
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.oauth-btn:hover {
    background-color: #f0f0f0;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9B8C4;
    font-size: 14px;
}